<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Registration Successful</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light">

<div class="container mt-5">

<div class="card shadow-lg p-5">

<h1 class="text-success">

🎉 Registration Successful

</h1>

<hr>

<h4>Name :</h4>

<p><%= name %></p>

<h4>Email :</h4>

<p><%= email %></p>

<h4>Course :</h4>

<p><%= course %></p>

<a href="/" class="btn btn-primary mt-3">

Go Back

</a>

</div>

</div>

</body>

</html>